backend/node_modules
backend/public/storage
backend/public/patient_chief_complaints
backend/storage/*.key
backend/vendor
backend/.env
backend/.env.backup
backend/.env.production

frontend/node_modules
frontend/dist
frontend/.env

